<h2>Accueil</h2>

<div class="container">

    <div>
        <label for="nom">{{ 'Quel est votre nom?' | lowercase }}</label><br>
        <input type="text" id="nom" [(ngModel)]="nom">
        <p>Bienvenue sur notre merveilleux site {{ nom }} </p>
    </div>


    <div class="row">
        <div class="col">
            <h3>Le resto</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae dicta, exercitationem ad molestias facere minus excepturi ab, similique maiores laborum reprehenderit? Facilis expedita sequi nihil consequatur! Suscipit aliquid nesciunt ducimus.</p>
        </div>
        <div class="col">
            <h3>Le cuistot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, dolores maxime delectus est nihil minus ad recusandae quidem? Reiciendis qui quo rem dolor, totam non unde possimus exercitationem tempore velit!</p>
        </div>
    </div>
</div>
